@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #477bff;
  --blue-2: #306aff;
  --black: #131128;
  --gray: #a6aabe;
}

body {
  display: flex;
  justify-content: center;
}

.home {
  margin: 0 160px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 44px 0;
}

header .logo {
  width: 151px;
  height: 36.08px;
}

header nav a {
  font: 400 20px "DM Sans", sans-serif;
  line-height: 26px;
  letter-spacing: -2%;
  text-decoration: none;

  transition: all 0.2s;

  color: var(--black);
}

header nav a:nth-child(2) {
  margin: 0 24px;
}

header nav a.active {
  font: 700 20px "DM Sans", sans-serif;
  color: var(--blue);
}

header nav a:not(.active):hover {
  color: var(--blue);
  filter: brightness(90%);
}

header .user-info {
  display: flex;
  align-items: center;
}

header .user-info p {
  font: 400 20px "DM Sans", sans-serif;
  line-height: 26px;
  letter-spacing: -2%;
  text-decoration: none;

  margin-right: 12px;

  color: var(--black);
}

header .user-info img {
  width: 48px;
  height: 48px;

  border-radius: 50%;
}

.content {
  margin: 74px 0;
}

.container {
  display: flex;

  padding-top: 24px;
}

.new-article .card {
  background-color: #eff4ff;

  border-radius: 8px;

  width: 736px;

  padding: 32px;
}

.new-article .card h1 {
  font: 400 24px "DM Sans", sans-serif;
  line-height: 31px;

  margin-bottom: 24px;

  color: var(--black);
}

.new-article .card form {
  display: flex;
  flex-direction: column;
}

.new-article .card form input::placeholder,
.new-article .card form textarea::placeholder {
  color: var(--gray);
}

.new-article .card form input,
.new-article .card form textarea {
  font: 400 18px "DM Sans", sans-serif;
  line-height: 23px;
  color: var(--black);

  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  padding: 8px 16px;
  margin-bottom: 24px;

  border: none;
  outline: none;
}

.new-article .card form input {
  max-width: 672px;
  height: 39px;
}

.new-article .card form textarea {
  resize: none;

  height: 142px;
}

.new-article .card form button {
  font: 700 16px "DM Sans", sans-serif;
  line-height: 21px;
  color: white;

  padding: 4px 16px;
  width: 89px;

  cursor: pointer;
  border: none;
  outline: none;

  display: flex;
  align-self: flex-end;

  transition: all 0.2s;

  background: #477bff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.new-article .card form button:hover {
  filter: brightness(90%);
}

.popular-tags {
  max-width: 352px;
  margin-left: 32px;

  background-color: #eff4ff;

  border-radius: 8px;

  padding: 32px;

  height: 100%;
}

.popular-tags h1 {
  font: 400 24px "DM Sans", sans-serif;
  line-height: 31px;

  margin-bottom: 24px;
}

.popular-tags .tag {
  font: 400 14px "DM Sans", sans-serif;
  color: var(--blue);

  justify-content: center;
  align-items: center;

  margin-right: 4px;
  margin-bottom: 6px;
  padding: 5px 16px;

  border: 1px solid #477bff;
  border-radius: 100px;

  background: transparent;

  transition: background-color 0.2s;

  cursor: pointer;
}

.popular-tags .tag:hover {
  color: white;
  background: var(--blue);
  border: 1px solid #477bff;
}

.popular-tags .tag.selected {
  display: flex;
  align-items: center;

  color: white;
  background: var(--blue);
  border: 1px solid #477bff;
}

.popular-tags .tag.selected::after {
  content: "";
  color: #fff;

  margin-left: 12px;

  display: inline-block;
  width: 10px;
  height: 10px;
  background: linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      #fff 45%,
      #fff 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #fff 45%,
      #fff 55%,
      transparent 57%,
      transparent 100%
    );
}
